fastapi
uvicorn[standard]
pydantic[email]
python-multipart
python-dotenv
requests

pytesseract
Pillow

# [Removed unused transformers, torch, sentencepiece, and opencv-python to reduce bloat]
PyPDF2

pandas
prophet
joblib
email-validator

qdrant-client
numpy
scikit-learn==1.8.0
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
neo4j
psycopg2-binary
sqlalchemy
alembic
fpdf2
